@keyframes arrow {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(4px);
  }
}

@keyframes heart-grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.like-icon.is-liked .main-body,
.like-icon:hover .main-body,
.like-icon:active .main-body {
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core,
.like-icon .main-body,
.like-icon:hover .core,
.like-icon:active .core {
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  transition: fill 0.3s linear 0.03s;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-grow 0.3s ease-in 0.1s 2 alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 2 alternate;
}

.like-icon .contour {
  transition: fill 0.1 linear;
}
