.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  margin: 0 auto;
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-variation-settings: "wght" var(--text-wgth);
  background-color: var(--bg-color);
  color: var(--accent-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  margin: 6.25rem 0 6.25rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: var(--accent-font), fantasy, sans-serif;
  line-height: normal;
  background-color: var(--bg-color);
  border: 2px solid currentColor;
}

.header__logo {
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  margin-block-end: 1.25rem;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title,
.theme-menu__list {
  margin-block-end: 1.4375rem;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline-start: 1.25rem;
}

.theme-menu__button {
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.3s ease;
  padding-inline-start: 0.3125rem;
  position: relative;
  font-family: var(--accent-font), fantasy, sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  border: none;
}

.theme-menu__button::after {
  content: "";
  display: block;
  transition: 0.3s ease;
  background-color: var(--accent-color);
  opacity: 1;
  block-size: 0.125rem;
  inline-size: 100%;
  transform-origin: 0 0;
  transform: scaleX(0);
}

.theme-menu__button:disabled {
  position: relative;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0.0625rem;
  left: -1rem;
  inline-size: 1rem;
  block-size: 0.8125rem;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:focus,
.button:focus,
.card__icon-button:focus {
  outline: none;
}

.theme-menu__button:hover,
.theme-menu__button:focus-visible::after,
.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.content {
  margin: 0 auto 6.25rem auto;
}

.content__card-list {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  margin-block-end: 3.3rem;
  font-size: 1.125rem;
}

.content__card-list-item {
  border: 2px solid currentColor;
  background-color: var(--bg-color);
}

.card__image-container {
  position: relative;
}

.accent-text {
  position: absolute;
  top: 1.5625rem;
  right: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  color: var(--text-color);
  font-family: var(--accent-font), fantasy, sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--text-stroke-color), 0 1px var(--text-stroke-color),
    1px 0 var(--text-stroke-color), 0 -1px var(--text-stroke-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--text-stroke-color)) or
    (-webkit-text-stroke: 1px var(--text-stroke-color))
) {
  .accent-text {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
}

.card__title {
  font-size: inherit;
  padding: 0.25rem 0.625rem 0.25rem 0.625rem;
  font-variation-settings: "wght" var(--title-wgth);
}

.card__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
  border-block-start: 2px solid currentColor;
  border-block-end: 2px solid currentColor;
}

.filter-invert {
  filter: var(--filter-invert);
}

.filter-huerotate-grayscale {
  filter: var(--filter-huerotate-grayscale);
}

.filter-huerotate-saturate {
  filter: var(--filter-huerotate-saturate);
}

.filter-invert-full {
  filter: var(--filter-invert-full);
}

.filter-sepia {
  filter: var(--filter-sepia);
}

.filter-huerotate-brightness {
  filter: var(--filter-huerotate-brightness);
}

.filter-grayscale-blur {
  filter: var(--filter-grayscale-blur);
}

.filter-mixed {
  filter: var(--filter-mixed);
}

.card__text {
  line-height: 116.667%;
  padding: 1.5625rem;
  display: flex;
  flex-direction: column;
  gap: 1.6875rem;
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 0.3rem;
  padding: 0 1.5625rem 1.5625rem 1.5625rem;
}

.button {
  cursor: pointer;
  background-color: transparent;
  position: relative;
  font-family: var(--accent-font), fantasy, sans-serif;
  font-size: 0.875rem;
  border: 2px solid currentColor;
  line-height: 90%;
  transition: 0.3s ease;
}

.button::after {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  background-color: var(--accent-color);
  inline-size: 100%;
  block-size: 100%;
  transform: scaleX(0);
  transform-origin: left bottom;
  transition: 0.5s ease-in-out;
}

.button__text,
.floppy-icon {
  mix-blend-mode: difference;
  position: relative;
  color: var(--button-text-color);
  z-index: 1;
}

.button:hover::after {
  transform: scaleX(1);
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px currentColor;
}

.card__like-button {
  min-inline-size: 8.125rem;
}

.card__icon-button {
  padding: 0px;
  border: 2px solid transparent;
  inline-size: 2.625rem;
  block-size: 2.5rem;
  background-color: transparent;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

.sparks {
  opacity: 0;
}

.like-icon {
  inline-size: 100%;
  block-size: 100%;
}

.like-icon .core,
.like-icon .main-body {
  fill: transparent;
}

.like-icon .contour,
.like-icon:hover .core,
.like-icon:hover .main-body {
  fill: var(--contour-color);
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour,
.like-icon:active .core,
.like-icon:active .main-body {
  fill: var(--icon-fill-color);
}

.like-icon.is-liked .heart {
  border: none;
  transform-origin: center center;
}

.save-button {
  background-color: var(--bg-color);
  padding: 1.125rem 1.1875rem 0.8125rem 1.1875rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.floppy-icon {
  align-self: center;
  inline-size: calc(1.9rem - 0.65vw);
  block-size: calc(1.9rem - 0.65vw);
}

.dialog {
  background-color: var(--bg-color);
  color: var(--font-color);
  max-inline-size: clamp(21.313rem, 20.9609rem + 1.5023vw, 22.313rem);
  padding-block-end: 1.875rem;
  padding-block-start: 1.875rem;
  padding-inline-start: calc(2.65rem - 0.8vw);
  padding-inline-end: calc(2.65rem - 0.8vw);
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 1.25rem;
  row-gap: 1.875rem;
  transition: opacity 0.3s ease-in-out;
}

.dialog__floppy-icon {
  grid-column: 1/2;
  grid-row: 1/2;
  min-inline-size: 2.4375rem;
  min-block-size: 2.4375rem;
}

.dialog__text {
  font-family: var(--accent-font), fantasy, sans-serif;
  font-size: 0.875rem;
  line-height: 150%;
  text-transform: uppercase;
  grid-column: 2/3;
  grid-row: 1/2;
}

.dialog__form {
  grid-column: 1/3;
  grid-row: 2/3;
}

.dialog__button {
  padding-block-start: 0.7rem;
  padding-block-end: 0.5rem;
  inline-size: 100%;
  text-transform: uppercase;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

@media (width < 376px) {
  .page {
    inline-size: var(--inline-size);
  }

  .header__logo {
    font-size: clamp(2.625rem, 0.0795rem + 12.7273vw, 3.0625rem);
  }

  .save-button {
    flex-direction: column;
    padding: 1rem 1.1875rem 0.8125rem 1.1875rem;
    gap: 0.7rem;
  }

  .dialog {
    padding-inline-start: 2.5rem;
    padding-inline-end: 2.5rem;
  }

  .floppy-icon {
    inline-size: 1.75rem;
    block-size: 1.75rem;
  }
}

@media (min-width: 1440px) {
  .dialog {
    padding-inline-start: 1.875rem;
    padding-inline-end: 1.875rem;
  }

  .floppy-icon {
    inline-size: 1.3125rem;
    block-size: 1.3125rem;
  }
}