:root.theme-light {
  --title-wgth: 700;
  --text-wgth: 400;
  --bg-color: #fff;
  --accent-color: #000;
  --gradient-color: #d3d3d3;
  --linear-gradient-color-top: #e7e7e7 0.01%;
  --linear-gradient-color-bottom: #1a1a1a;
  --bg-image: repeating-linear-gradient(
      to right,
      var(--gradient-color) 2px,
      transparent 2px 4px,
      var(--gradient-color) 4px 6px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--gradient-color) 2px,
      transparent 2px 4px,
      var(--gradient-color) 4px 6px
    ),
    linear-gradient(
      var(--linear-gradient-color-top),
      var(--linear-gradient-color-bottom)
    );
  --font-color: #000;
  --text-stroke-color: #fff;
  --button-bg-color: #fff;
  --contour-color: #000;
  --icon-fill-color: #ff0000;
  --filter-idea: invert(90%);
  --filter-sheet: hue-rotate(160deg) grayscale(80%);
  --filter-doubt: hue-rotate(130deg) saturate(90%);
  --filter-ideal: invert(100%);
  --filter-care: sepia(40%);
  --filter-strategy: hue-rotate(164deg) brightness(90%);
  --filter-frustration: grayscale(90%) blur(1px);
  --filter-today: hue-rotate(220deg) grayscale(85%) brightness(150%);
}

:root.theme-dark {
  --title-wgth: 785;
  --text-wgth: 465;
  --bg-color: #000;
  --accent-color: #00cc14;
  --gradient-color: #000;
  --linear-gradient-color-top: #007f0c;
  --linear-gradient-color-bottom: #004306;
  --bg-image: repeating-linear-gradient(
      to right,
      var(--gradient-color) 2px,
      transparent 2px 4px,
      var(--gradient-color) 4px 6px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--gradient-color) 2px,
      transparent 2px 4px,
      var(--gradient-color) 4px 6px
    ),
    linear-gradient(
      var(--linear-gradient-color-top),
      var(--linear-gradient-color-bottom)
    );
  --font-color: #00cc14;
  --text-stroke-color: #000;
  --button-bg-color: #00cc14;
  --contour-color: #00cc14;
  --filter-idea: invert(90%);
  --filter-sheet: hue-rotate(160deg) grayscale(80%);
  --filter-doubt: hue-rotate(130deg) saturate(90%);
  --filter-ideal: invert(100%);
  --filter-care: sepia(40%);
  --filter-strategy: hue-rotate(164deg) brightness(90%);
  --filter-frustration: grayscale(90%) blur(1px);
  --filter-today: hue-rotate(220deg) grayscale(85%) brightness(150%);
}

@media (prefers-color-scheme: light) {
  :root {
    --title-wgth: 700;
    --text-wgth: 400;
    --bg-color: #fff;
    --accent-color: #000;
    --gradient-color: #d3d3d3;
    --linear-gradient-color-top: #e7e7e7 0.01%;
    --linear-gradient-color-bottom: #1a1a1a;
    --bg-image: repeating-linear-gradient(
        to right,
        var(--gradient-color) 2px,
        transparent 2px 4px,
        var(--gradient-color) 4px 6px
      ),
      repeating-linear-gradient(
        to bottom,
        var(--gradient-color) 2px,
        transparent 2px 4px,
        var(--gradient-color) 4px 6px
      ),
      linear-gradient(
        var(--linear-gradient-color-top),
        var(--linear-gradient-color-bottom)
      );
    --font-color: #000;
    --text-stroke-color: #fff;
    --button-bg-color: #fff;
    --contour-color: #000;
    --icon-fill-color: #ff0000;
    --filter-idea: invert(90%);
    --filter-sheet: hue-rotate(160deg) grayscale(80%);
    --filter-doubt: hue-rotate(130deg) saturate(90%);
    --filter-ideal: invert(100%);
    --filter-care: sepia(40%);
    --filter-strategy: hue-rotate(164deg) brightness(90%);
    --filter-frustration: grayscale(90%) blur(1px);
    --filter-today: hue-rotate(220deg) grayscale(85%) brightness(150%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --title-wgth: 785;
    --text-wgth: 465;
    --bg-color: #000;
    --accent-color: #00cc14;
    --gradient-color: #000;
    --linear-gradient-color-top: #007f0c;
    --linear-gradient-color-bottom: #004306;
    --bg-image: repeating-linear-gradient(
        to right,
        var(--gradient-color) 2px,
        transparent 2px 4px,
        var(--gradient-color) 4px 6px
      ),
      repeating-linear-gradient(
        to bottom,
        var(--gradient-color) 2px,
        transparent 2px 4px,
        var(--gradient-color) 4px 6px
      ),
      linear-gradient(
        var(--linear-gradient-color-top),
        var(--linear-gradient-color-bottom)
      );
    --font-color: #00cc14;
    --text-stroke-color: #000;
    --button-bg-color: #00cc14;
    --contour-color: #00cc14;
    --filter-idea: invert(90%);
    --filter-sheet: hue-rotate(160deg) grayscale(80%);
    --filter-doubt: hue-rotate(130deg) saturate(90%);
    --filter-ideal: invert(100%);
    --filter-care: sepia(40%);
    --filter-strategy: hue-rotate(164deg) brightness(90%);
    --filter-frustration: grayscale(90%) blur(1px);
    --filter-today: hue-rotate(220deg) grayscale(85%) brightness(150%);
  }
}